
/* shared */
.highlight{
color: #E95A08;
}


/* header */
.display-flex{
display: flex;
}
.navbar{
    justify-content: space-between;
   
}

.nav-item{
list-style: none;
margin-right: 30px;
text-decoration: none;

}
.nav-link{
    text-decoration: none;
    width: 400px;
    height: 24px;
}

.flower{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
   
}
.flower-container{
    text-align: center;
    padding: 150px 80px;
}
.flower-container h1{
  justify-content: ;
    font-size: 700 ;
}


/* main */
.our-plants{
    text-align: center;
}
.our-plants p{
    color: #000000;
} 

.product-item{
    display: grid;
    grid-template-columns: repeat(4, 2fr);

}
.product-card button {
  background-color :#E95A08;
  color: #fff;
  border: none;
  width: 80%;
  padding: 8px 12px;
margin-bottom: 10px;
  border-radius: 5px;
  justify-content: center;
  
}

  .product-card h3{
    text-align: center;

  }
  .product-card p{
    text-align: center;
  }
  .top{
    margin-top: 80px;
  }
  .image-section{
    position: relative;
    width: 50%;
  }
  .image-section img .main-image{
    width: 100%;
    height: auto;
    
  }
  .trusted-image{
    position: absolute;
    top: ;
    
  right: 100px;
    width: 40%;
   
  }
  .text-section{
    width: 50%;
    padding: 20px;
    
  }
  .text-section h2 {
    margin-top: 0;
    font-size: bold 50;
   
  }
  .text-section li {
    margin-bottom: 30px;
  }
  .shop p{
    text-align: center;
    font-size: small;

  }
  .shop h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: larger 2rem;
  }
  .row{
    height: 400px;
    display: grid;
    grid-template-columns: 2,1fr;
  }
  .banner{
    height: 50%;
  }

  .subscribe-section img{
    width: 100%;
    height: 100%;
  }
  /* footer */
  .footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  background-color: #f8fbff;
  padding: 40px;
  font-family: Arial, sans-serif;
  align-items: start;
  margin-top: 20px;
}
.footer-logo {
  max-width: 250px;
}

.footer-left .logo {
  height: 50px;
  margin-bottom: 10px;
}

.footer-logo p {
  font-size: 14px;
  color: black;
}

  .footer-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 40px;
}

.footer-links a {
  display: block;
  margin-bottom: 8px;
  color: #000000;
  text-decoration: none;
  font-size: 14px;
}
.footer-links a:hover {
  text-decoration: underline;
}
.footer-social {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 575px;) {
  .navbar .main.footer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
  }
  .product-item{
    display: grid;
    grid-template-columns: 1,1fr;
  }
  img{
    display: grid;
    grid-template-columns: repeat(2,2fr);
  }
}
@media screen and (min-width: 576px) and (max-width:992) {
 .navbar.main.footer{
  display: grid;
  grid-template-columns: repeat(2,1fr);
 }
}