
/* shared */
.highlight{
color: #E95A08;
}
/* header */
.display-flex{
display: flex;
}
.navbar{
    justify-content: space-between;
   
}

.nav-item{
list-style: none;
margin-right: 30px;
text-decoration: none;

}
.nav-link{
    text-decoration: none;
    width: 400px;
    height: 24px;
}

.flower{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
   
}
.flower-container{
    text-align: center;
    padding: 150px 80px;
}
.flower-container h1{
  justify-content: ;
    font-size: 700 ;
}


/* main */
.our-plants{
    text-align: center;
}
.our-plants p{
    color: #000000;
} 

.product-item{
    display: grid;
    grid-template-columns: repeat(4, 2fr);

}
.product-card button {
  background-color :#E95A08;
  color: #fff;
  border: none;
  width: 80%;
  padding: 8px 12px;
margin-bottom: 10px;
  border-radius: 5px;
  justify-content: center;
  
}

  .product-card h3{
    text-align: center;

  }
  .product-card p{
    text-align: center;
  }
  .top{
    margin-top: 80px;
  }
  .image-section{
    position: relative;
    width: 50%;
  }
  .image-section img .main-image{
    width: 100%;
    height: auto;
    
  }
  .trusted-image{
    position: absolute;
    top: ;
    
  right: 100px;
    width: 40%;
   
  }
  .text-section{
    width: 50%;
    padding: 20px;
    
  }
  .text-section h2 {
    margin-top: 0;
    font-size: bold 50;
   
  }
  .text-section li {
    margin-bottom: 30px;
  }